---
layout: default
---

<div class="card">
    <h1 class="card-biography"> Formal Biography </h1>
     <p>
       Ben Mesnik is currently a Machine Learning Engineer at State Farm.
       He previously founded a startup, where he built an AI coach for gaming. He transformed the concept into a platform which helped over 1 million gamers improve <a href="https://www.youtube.com/watch?v=xZxVJfhKmvs">(Demo)</a>.
       Prior to founding Tip Genius, Ben worked as a software engineer at Constant Contact, where he helped build internet-scale systems and applications. 

       Ben holds a degree from Lehigh University (BS '20, Computer Science), plus his formal education has been enriched by over a decade of entrepreneurial ventures and self learning. Ben has built dozens of software products from 0-1 and has worked across Machine Learning, AI, Gaming, Frontend, Backend, DevOps, Data, Mobile, and Fintech domains. 

       Ben also spent several years traveling the world as a digital nomad, plays soccer religiously, and skis 30 days per year on average.
     </p>
 </div>
